.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-1-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-1-inside {
  padding-right: 0px;
}

.panels-flexible-1 {
  width: auto;
}

.panels-flexible-region-1-header_right___fixed {
  float: left;
  width: 310px;
}

.panels-flexible-region-1-top {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-2-middle {
  margin-right: 310px;
}

.panels-flexible-row-1-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-top_right___fixed {
  float: left;
  width: 340px;
}

.panels-flexible-region-1-main_center_2 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-3-middle {
  margin-right: 340px;
}

.panels-flexible-row-1-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-main_center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-4-inside {
  padding-right: 0px;
}

